
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceder</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/Login.css" rel="stylesheet" />

</head>
<body>
    <div class="main">

        <div class="container">
            <center>
                <div class="middle">
                    <div id="login">

                        @if (ViewData["Mensaje"] != null)
                        {

                            <div class="alert alert-danger" role="alert">
                                <h5>@ViewData["Mensaje"]</h5>
                            </div>
                        }
                        <form action="@Url.Action("Acceder","Login")" method="post">

                            <fieldset class="clearfix">

                                <p><span class="fa fa-envelope"></span><input type="email" name="Email" Placeholder="Email" required></p>
                                <p><span class="fa fa-lock"></span><input type="password" name="Clave" Placeholder="Contraseña" required></p>
                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="@Url.Action("Registrar","Login")">
                                            Crear cuenta de usuario
                                        </a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Acceder"></span>

                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                    <div class="logo">
                        INGRESO
                        <div class="clearfix"></div>
                    </div>

                </div>
            </center>
        </div>

    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
